<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation tempDirectory="D:\InetPub\vhosts\cooptran.com\tmp" />
    </system.web>
    
    <system.webServer>
        <!-- Handlers - tell IIS to use iisnode for index.js -->
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        
        <!-- URL Rewrite - route ALL requests to index.js -->
        <rewrite>
            <rules>
                <!-- Ignore node_modules and logs folders -->
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^(node_modules|logs)(/.*)?$" />
                    <action type="None" />
                </rule>
                
                <!-- Send all other requests to Node.js -->
                <rule name="DynamicContent" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Pass errors through to Node.js -->
        <httpErrors existingResponse="PassThrough" />
        
        <!-- Security -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        
        <!-- iisnode settings -->
        <iisnode 
            node_env="production"
            loggingEnabled="true"
            devErrorsEnabled="false"
            enableXFF="true"
        />
    </system.webServer>
</configuration>
